<app-menu></app-menu>
<div class="container">
  <form action="" (submit)="cadastrarAutor($event)">
    <p>
      <label for="nome">Nome:*</label>
      <input class="form-control" name="nome" [(ngModel)]="nome" type="text">
    </p>
    <p>
      <label for="dataNascimento">Sobrenome:*</label>
      <input class="form-control" name="sobrenome" [(ngModel)]="sobrenome" type="text">
    </p>
    <p class="botao">
      <button type="submit" class="btn-primary">Cadastrar</button>
    </p>
  </form>
</div>