<div>

    <h3>Emprestimos</h3>
    <br>
<!--
    <table>
      <tr>
          <td>
              <div *ngIf="PodeIncluirPedidos">
                <button (click)="incluirPedido()">
                Incluir Pedido
                </button>
              </div>
          </td>
          <td>
            <div>
              <button (click)="refresh()">
                Refresh
              </button> 
            </div>
          </td>
          <td>
            <div>
              <a [routerLink]="['/Menu', _idUsuario]">Menu</a>
            </div>
          </td>  
          <td>
            <div>
              <a [routerLink]="['/Login']">Login</a>
            </div>
          </td>             
      </tr>
    
    </table>
-->
    <table class="table">

      <thead>
        <tr>
           <th>id</th>
           <th>Socio</th>
           <th>Livro</th>
           <th>Reserva</th>
           <th>Devolução</th>
         </tr>
      </thead>

    <tbody>
      <tr *ngFor="let reserva of reservas">
          <td style="padding-right: 5px">{{reserva._idEmprestimo}}</td>
          <td style="padding-right: 5px">{{reserva.socio.nome}}</td>
          <td style="padding-right: 5px">{{reserva.livro.titulo}}</td>
          <td style="padding-right: 5px">{{reserva.dataReserva}}</td>
          <td style="padding-right: 5px">{{emprestimo.dataRetorno}}</td>
          <!--<button (click)="detalhes(cantina._idPedido)">
            Det
          </button>
          <button (click)="pedido(cantina._idPedido)">
            Ped
          </button>-->
      </tr>
    </tbody>

    </table>

</div>
