<h1>Cadastro de Livros</h1>
<form action="" (submit)="cadastrarLivro($event)">
  <div class="container">
    <p>
      <label for="titulo">Titulo*</label>
      <input class="form-control" name="titulo" [(ngModel)]="titulo" type="text">
    </p>
    <p>
      <label for="autor">Autor*</label>
      <select [(ngModel)]="autor">
        <option *ngFor="let a of autores" [ngValue]="a">{{a.name}}</option>
      </select>
    </p>
    <p>
      <label for="editora">Editora*</label>
      <input class="form-control" name="editora" [(ngModel)]="editora" type="text">
    </p>
    <p>
      <label for="edicao">Edicao</label>
      <input class="form-control" name="edicao" [(ngModel)]="edicao" type="number">
    </p>
    <p>
      <label for="genero">Genero</label>
      <input class="form-control" name="genero" [(ngModel)]="genero" type="text">
    </p>
    <p>
      <label for="numPaginas">Número de Páginas</label>
      <input class="form-control" name="numPaginas" [(ngModel)]="numPaginas" type="number">
    </p>
    <p>
      <label for="ano">Ano</label>
      <input class="form-control" name="ano" [(ngModel)]="ano" type="number">
    </p>
    <p>
      <button type="submit" class="btn-primary">Cadastrar</button>
    </p>
  </div>
</form>