<app-menu></app-menu>
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Empréstimos</h2>
    </div>
    <div class="panel-body">
      <app-mnu-emprestimo></app-mnu-emprestimo>
    </div>
  </div>
<br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Reservas</h2>
    </div>
    <div class="panel-body">
      <app-mnu-reserva></app-mnu-reserva>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Processo</h2>
    </div>
    <div class="panel-body">
      <img [src]="'assets/images/Biblioteca.png'" alt="Processo">
    </div>
  </div>
</div>