<app-menu></app-menu>
<h1>Reserva</h1>
<form action="" (submit)="realizarReserva($event)">
  <p>
    <label ifor="socio">Socio*</label>
    <select [(ngModel)]="selectedSocio" name="selectedSocio" for="socio" class="form-control">
      <option *ngFor="let soc of socios" [value]="soc._idPessoa">{{soc.nome}} </option>
    </select>
  </p>
  <p>
    <label ifor="livro">livro*</label>
    <select [(ngModel)]="selectedLivro" name="selectedLivro" for="livro" class="form-control">
      <option *ngFor="let liv of livros" [value]="liv._idLivro">{{liv.titulo}} </option>
    </select>
  </p>
  <p>
    <button type="submit" class="btn-primary">Reservar</button>
  </p>
</form>