<h1>Cadastro de Funcionarios</h1>
<div class="container">
<p>
    <label for="nome">Nome:*</label>
    <input class="form-control" type="text">
</p>

<p>
    <label for="dataNascimento">Data de nacsimento:*</label>
    <input class="form-control" type="text">
</p>

<p>
    <label for="cpf">CPF:*</label>
    <input class="form-control" type="text">
</p>

<p>
    <label for="endereco">Endereco:*</label>
    <input class="form-control" type="text">
</p>

<p>
    <label for="telefone">Telefone:*</label>
    <input class="form-control" type="text">
</p>

<p>
    <label for="email">E-mail:*</label>
    <input class="form-control" type="text">
</p>

<p>
    <label for="login">Login:*</label>
    <input class="form-control" type="text">
</p>

<p>
    <label for="senha">Senha:*</label>
    <input class="form-control" type="password">
</p>

<p>
    <label for="cargo">Cargo:*</label>
    <input class="form-control" type="text">
</p>
</div>

