<app-menu></app-menu>
<div class="container">
    <h1>Cadastro de Funcionarios</h1>
    <form action="" (submit)="cadastrarFuncionario($event)">
        <p>
            <label for="nome">Nome:*</label>
            <input class="form-control" name="nome" [(ngModel)]="nome" type="text">
        </p>
        <p>
            <label for="dataNascimento">Data de nacsimento:*</label>
            <input class="form-control" name="dataNascimento" [(ngModel)]="dataNascimento" type="date">
        </p>
        <p>
            <label for="cpf">CPF:*</label>
            <input class="form-control" name="cpf" [(ngModel)]="cpf" type="text">
        </p>
        <p>
            <label for="endereco">Endereco:*</label>
            <input class="form-control" name="endereco" [(ngModel)]="endereco" type="text">
        </p>
        <p>
            <label for="telefone">Telefone:*</label>
            <input class="form-control" name="telefone" [(ngModel)]="telefone" type="tel">
        </p>
        <p>
            <label for="email">E-mail:*</label>
            <input class="form-control" name="email" [(ngModel)]="email" type="email">
        </p>
        <p>
            <label for="login">Login:*</label>
            <input class="form-control" name="login" [(ngModel)]="login" type="text">
        </p>
        <p>
            <label for="senha">Senha:*</label>
            <input class="form-control" name="senha" [(ngModel)]="senha" type="password">
        </p>
        <p>
            <label for="cargo">Cargo:*</label>
            <input class="form-control" name="cargo" [(ngModel)]="cargo" type="text">
        </p>
        <p class="botao">
            <button type="submit" class="btn-primary">Cadastrar</button>
        </p>
    </form>
</div>