<div>

  <h3>Autores</h3>
  <br>
  <!--
    <table>
      <tr>
          <td>
              <div *ngIf="PodeIncluirPedidos">
                <button (click)="incluirPedido()">
                Incluir Pedido
                </button>
              </div>
          </td>
          <td>
            <div>
              <button (click)="refresh()">
                Refresh
              </button> 
            </div>
          </td>
          <td>
            <div>
              <a [routerLink]="['/Menu', _idUsuario]">Menu</a>
            </div>
          </td>  
          <td>
            <div>
              <a [routerLink]="['/Login']">Login</a>
            </div>
          </td>             
      </tr>
    
    </table>
-->
  <table class="table">

    <thead>
      <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Sobrenome</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let autor of autores">
        <td style="padding-right: 5px">{{autor._idAutor}}</td>
        <td style="padding-right: 5px">{{autor.nome}}</td>
        <td style="padding-right: 5px">{{autor.sobrenome}}</td>
        <button (click)="deleteAutor(autor._idAutor)" class="btn-danger">
          Deletar
        </button>
        <!--<button (click)="detalhes(cantina._idPedido)">
            Det
          </button>
          <button (click)="pedido(cantina._idPedido)">
            Ped
          </button>-->
      </tr>
    </tbody>

  </table>

</div>