<div class="container">
  <h1>CGV Biblioteca</h1>
    <form action="" (submit)="login($event)">
      <p>
        <label for="login">Login</label>
        <input class="form-control" name="username" [(ngModel)]="username" type="text">
      </p>
      <p>
        <label for="senha">Senha</label>
        <input class="form-control" name="password" [(ngModel)]="password" type="password">
      </p>
      <p class="botao">
        <button alingn="center" type="submit" class="btn-primary">Login</button>
      </p>
      <p>
        {{message}}
      </p>
    </form>
</div>